<!DOCTYPE html>
<html>

<%- include('./components/root/head.ejs', { title: 'Contacts' }) %>

<body>
    <div class="page">
        <%- include('./components/root/header.ejs') %>
        <main class="main">
            <%- include('./components/partials/content.ejs', { page: 'contacts' }) %>
        </main>
        <%- include('./components/root/footer.ejs') %>
        <%- include('./components/root/popup.ejs') %>
        <%- include('./components/root/cookie.ejs') %>
        <%- include('./components/root/scroll-top.ejs') %>
    </div>
</body>

</html>